.chores {
    color: rgb(131, 79, 131);
    font-family: times new roman;
}

.chores ul {
    font-style: italic;
}

.chores h3 {
    font: 1.8em;;
    font-style: none;
    text-decoration: underline;
}